<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ titulo }} - Kargo</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Kargo</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'reservation' %}">Reserve</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_reservations' %}"
              >My Reservations</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1>Welcome to Kargo Karting Track!</h1>

      <p>Your adventure begins here.</p>
    </div>
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li class="alert {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% block content %}{% endblock %}

    <hr />
    <footer>
      <p>&copy; {{ year }} - Isaac Mora</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
